extends layout

block content
  h1 Homeworks for course M101P: MongoDB for Developers
  ul
      li Homework 1 (Week 1)
          ul
              li
                  a(href='/hw1-2/') Homework 1-2
              li
                  a(href='/hw1-3/50') Homework 1-3

