extends layout

block content
  h1 Homeworks for course M101P: MongoDB for Developers
  ul
      li Homework 1 (Week 1)
          ul
              li
                  a(href='/hw1-2/') hw1-2 Homework.tapes - Works
              li
                  a(href='/hw1-2a') hw1-2a Homework.1-2 - Not working
              li
                  a(href='tapes/50')   tapes/50 - Homework1.homework1_3 - Works
              li
                  a(href='/tapes1') tapes1 - Homework1.tapes - Not working
              li
                  a(href='hw1-3a/:n')   hw1-3a/n - Homework1.homework1_3a - Works

      li Tapes
          ul
              li
                  a(href='tapes') tapes - Not working

